section div:first-child p{
    margin: 0px !important;
}

.section-control{
    height: 60px;
    color: #fff;
}

section div{
    width: 50%;
}

section div{
    float: left;  
}


section div:nth-child(2) button{
   float: right;
}


.card-body div:first-child{
    float: left;
    width: 15px;
    position: absolute;  
}

.card-body div:nth-child(2){
    float: left;
    margin-left: 20px;
    
}

.movie-card{
    margin-bottom: 10px;
}

.btn-secondary {
    background-color: #343434;
    font-size: 12px;
    font-weight: bold;
    padding: 15px
}


