/* You can add global styles to this file, and also import other style files */
body{
    background-color: #a8a8a8;
}

.jumbotron{
    margin-top: 50px !important;
    background-color: #6e6e6e;
    color: #fff;
 }

 .jumbotron p:first-child{
    color: #a8a8a8;
}

.jumbotron p{
    margin: 0px !important;
}

.jumbotron .display-4{
  font-size: 36px;
  font-weight: bold;
   
}

div.jumbotron{
    text-align: center;   
}
